<div class="filters--wrapper" [ngClass]="{open: isOpen, closed: !isOpen}">
    <div class="filters--header">
        <mat-icon fontIcon="arrow_back_ios" (click)="closeFilters(true)"></mat-icon>
    </div>

    <div>
        <div class="input-wrapper">
            <mat-icon fontIcon="search" class="input-icon"></mat-icon>
            <input placeholder="Search in quotes..." class="input-filter" [value]="quoteQuery()"
                (input)="setTextFilter($any($event.target).value)" />
            @if (quoteQuery().length) {
            <mat-icon fontIcon="close" class="input-clear" (click)="clearTextFilter()"></mat-icon>
            }
        </div>
    </div>

    <div class="author-filter--wrapper">
        <h3>People</h3>
        <div class="author-filter--container">
            @for(author of authors(); track author){
            <div class="author-filter--item" [class.selected]="isSelected(author.name)" (click)="toggleAuthor(author.name)">
                <div>{{author.name}}</div>
            </div>
            }
        </div>
    </div>

    <button class="apply-button" (click)="closeFilters()">Save</button>
</div>