<div class="create--backdrop" [ngClass]="{ open: isOpen, closed: !isOpen }" (click)="closeCreate(true)">
    <div class="create--box" (click)="$event.stopPropagation()">
        <div class="create--header">
            <div class="create--title">Create Quote</div>
            <button type="button" class="close-button" aria-label="Close create quote" (click)="closeCreate(true)">
                <mat-icon fontIcon="close"></mat-icon>
            </button>
        </div>

        <form [formGroup]="quoteForm" class="quote-form">
            <div class="input-wrapper">
                <mat-icon fontIcon="format_quote" class="input-icon"></mat-icon>
                <textarea placeholder="Enter quote..." class="input-filter" formControlName="quote"></textarea>
            </div>

            <div class="author-filter--wrapper">
                <h3>By</h3>
                <div class="author-filter--container">
                    @for(author of authors(); track author){
                    <button
                        type="button"
                        class="author-filter--item"
                        [class.selected]="isSelectedAuthor(author._id)"
                        (click)="selectAuthor(author._id)"
                    >
                        {{ author.name }}
                    </button>
                    }
                </div>
            </div>
        </form>

        <div class="create--footer">
            <button class="apply-button" type="button" (click)="saveQuote()">Save Quote</button>
        </div>
    </div>
</div>
